.header{
  background-color:rgb(113, 243, 141);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
body {
    background-color: lightyellow;
    margin-top: 60px;
  }
h1 { /*welcome to shdn*/
  color: rgb(29, 94, 40);
  text-align: center;
  font-size: 80px;
  font-family: verdana;
  margin-top: 60px;
  margin: 0;
  padding: 0;
}
  

/* Add a green background color to the top navigation */
.topnav {
  background-color:rgb(113, 243, 141);
  overflow: hidden;
   display: inline-block;
  /* list-style-type: none;  */
  margin: 0;
  padding: 0;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: verdana;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightcoral;
  color: rgb(113, 243, 141);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
p {
  font-family: verdana;
  font-size: 20px;
  padding: 20px 40px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.intro{
  font-size: 30px;
  font-family: 'Brush Script MT', cursive;
}
.footer {
  position: relative;
  float:left;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(113, 243, 141);
  color: white;
  text-align: center;
}
.moreinfo {
  font-family: verdana;
  font-size: 20px;
}